<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>

    <body>

    <header>
        <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <% include ./partials/searchDropdown %>

    <!-- Section -->
    <section>
        <div class = "container">
            <div class = "row">
                <div class = "col-md-8">
                    <div class="profile">
                        <h1 class="page-header"><%= userFullname %></h1>
                        <div class="row">
                            <div class="col-sm-4 user-profile-image">
                                <img src="<%= userImage %>" class="img-thumbnail">
                            </div>

                            <div class="col-sm-8 user-details">
                                <ul>
                                    <li id="li_userId"><strong>ID: </strong><%= userId %></li>
                                    <li id="li_userFullname"><strong>Name: </strong><%= userFullname %></li>
                                    <li id="li_userEmail"><strong>Email Address: </strong><%= userEmail %></li>
                                </ul>
                            </div> <!-- ENDof Col-md-8 -->
                        </div> <!-- ENDof row -->
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-4">
                                <label class="btn btn-primary change-image-label" style="width: 100%;">
                                    Change Profile Image <input type="file" class="change-image-input" accept=".jpg, .jpeg, .png" hidden>
                                </label>
                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary view-photos-btn" style="width: 100%;">View Photos</button>
                            </div>
                            <div class="col-sm-8">
        
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary view-friends-btn" style="width: 100%;">View Friends</button>
                            </div>
                            <div class="col-sm-8">
    
                            </div>
                        </div>
                        <br><br>
                            
                        <div class = "row">
                            <div class = "col-md-12">
                                <!-- Profile Wall -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Wall</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <textarea type="text" id="postText" class="form-control"  placeholder="Write on the wall"></textarea>
                                            </div>
                                            <div style="display: inblock; width:20%; float:left;">
                                                <button type="submit" class="btn btn-default">Submit</button>
                                            </div>
                                            <div style="display: inblock; width:20%; float:left;">
                                                <input type="checkbox" id="privateCheckBox" class="checkbox" name="privateCheckBox" value="checked">Private</input> 
                                            </div>      
                                            <div class = "pull-right">
                                                <label class="btn btn-primary" style="width: 100%;">
                                                    Upload Images <input type="file" id="images" name="uploadImages" class="btn btn-primary" accept=".jpg, .jpeg, .png" multiple="multiple" hidden>
                                                </label>
                                                <!--<input type="file" id="images" name = "uploadImages" class="btn btn-primary" accept=".jpg, .jpeg, .png" multiple="multiple"/>-->
                                                <div id="preview"></div>
                                             </div>
                                        </form>
                                    </div>   
                                </div> <!-- ENDof panel panel-default -->

                                <!-- Posts -->
                                <div id="postsPlaceHolder">
                                </div> <!-- ENDof panel panel-default post -->

                            </div> <!-- ENDof Col-MD-12 -->
                        </div> <!-- ENDof Row -->
                    </div> <!-- ENDof Profile -->
                </div> <!-- ENDof Col-md-8 -->
                <div class = "col-md-4">
                    <div class="panel panel-default friends">
                        <div class="panel-heading">
                            <h3 class="panel-title">Friends</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="friends-list">
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                                <li><a class = "thumbnail" href = "profile.html"><img src = "../../img/user.png"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default groups">
                        <div class="panel-heading">
                            <h3 class="panel-title">Photos</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="photos gallery-parent">
                            </ul>
                        </div>    
                    </div> <!-- ENDof panel-body -->
                </div> <!-- ENDof Col-md-4 -->
            </div> <!--ENDof Row -->
        </div> <!--ENDof Container -->
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>
    <script src="js/profile_cnt.js"></script>
    <script src="js/post_cnt.js"></script>
    <script src="js/utils.js"></script>
  </body>
</html>
